# Server
PORT=5000
NODE_ENV=development

# MongoDB Connection (get free cluster at mongodb.com/atlas)
MONGO_URI=mongodb://NABIALAM:nabiboass1234@ac-bprhqj7-shard-00-00.3jjd1mr.mongodb.net:27017,ac-bprhqj7-shard-00-01.3jjd1mr.mongodb.net:27017,ac-bprhqj7-shard-00-02.3jjd1mr.mongodb.net:27017/cropconnect?ssl=true&replicaSet=atlas-11vufi-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000
